

.flag {
    margin: 80px;
    width: 90%;
    height: 800px;
    border: 2px solid black;
    position: relative;
}

.round {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 500px;
}